<section class="card">
    <h1><%=book.title%></h1>
    <p>Author: <%=book.author.name%></p>
    <p>Genre: <%=book.genre%></p>
</section>


<%# As we have a method on the author class of .name we will need to go to the model and create a method %>
